@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto";
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
img {
  display: block;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
