@font-face {
  font-family: "Geologica";
  src: url("../font/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf");
}
@font-face {
  font-family: "GetVoIP Grotesque";
  src: url("../font/GetVoIP\ Grotesque.otf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Geologica";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
}
section {
  padding: 50px 0;
}
img {
  display: block;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
