.header {
    height: 75px;
    background-color: #FBF8F5;
}

.container {}

.header__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.header__list--one {
    display: flex;
    gap: 36px;
}

.header__link {
    font-family: "Roboto";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000000;
}

.header__logo {
    width: 115.86824798583984px;
    height: 26.000717163085938px;
    top: 31px;
    left: 582px;
    opacity: 1;
    color: #000000;
}

.header__list--two {
    display: flex;
    gap: 56px;

}

.header__korzinka {}

// --------------------------------------------------------

.hero {
    background-color: #FBF8F5;
}

.container {}

.hero__in {
    display: flex;
}

.hero__texts {
    color: #000000;
    margin-top: 104px;
}

.hero__h1 {
    font-family: "Roboto";
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0%;
    width: 400px;
}

.hero__p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 18px;
    width: 480px;
}

.hero__btn {
    width: 154px;
    height: 60px;
    top: 507px;
    left: 105px;
    opacity: 1;
    border-radius: 30px;
    background-color: #E9672B;
    margin-top: 46px;
}

.hero__img {
    margin-left: 150px;
    width: 628px;
    height: 611px;
    top: 75px;
    left: 652px;
    opacity: 1;

}