.header {
    height: 75px;
}

.container {}

.header__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.header__list--one {
    display: flex;
    gap: 36px;
}

.header__link {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000000;
}

.header__logo {
    width: 115.86824798583984px;
    height: 26.000717163085938px;
    top: 31px;
    left: 582px;
    opacity: 1;
    color: #000000;
}

.header__list--two {
    display: flex;
    gap: 56px;

}