.room {
}
.container {
}
.room__in {
}
.room__title {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 54px;
  letter-spacing: 0%;
  color: #000000;
  text-align: center;
}
.room__cards {
  display: flex;
  gap: 36px;
  justify-content: space-evenly;
  margin-top: 45px;
}
.room__card--living {
  width: 248px;
  height: 257px;
  top: 817px;
  left: 92px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
  border-width: 2px;
  box-shadow: 8px 8px 0px 0px #cbc6f4;
  border: 2px solid #e9672b;
}
.living__img {
}
.card__name {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.room__card--bed {
  width: 248px;
  height: 257px;
  top: 817px;
  left: 92px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
  border-width: 2px;
  box-shadow: 8px 8px 0px 0px #e7cb43;
  border: 2px solid #225dca;
}
.bad__img {
}
.room__card--office {
  width: 248px;
  height: 257px;
  top: 817px;
  left: 92px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
  border-width: 2px;
  border: 2px solid #242947;
  box-shadow: 8px 8px 0px 0px #a2d4c5;
}
.office__img {
}
.room__card--dining {
  width: 248px;
  height: 257px;
  top: 817px;
  left: 92px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
  border-width: 2px;
  border: 2px solid #de4333;
  box-shadow: 8px 8px 0px 0px #af4920;
}
.dining__img {
}
