.apartment {
  background-color: #f6cfca;
  height: 612px;
}
.apartment__in {
}
.apartment__title {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 88px;
  leading-trim: NONE;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  margin: 40px 0;
}
.apartment__add {
  display: flex;
  gap: 94.5px;
  justify-content: space-between;
}
.apartment__img {
    
}

.furniture {
  background-color: #fbf8f5;
}
.furniture__in {
  padding: 120px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.furniture__img {
  width: 264px;
  height: 180px;
  top: 6656px;
  left: 508px;
  angle: 0 deg;
  opacity: 1;
}
.furniture__title {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
}
.furniture__btn {
  width: 202px;
  height: 60px;
  top: 6980px;
  left: 539px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 88px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #e9672b;
}
