footer {
  position: relative;
  background-color: #F3F0EC;
  height: 650px;
}
.footer__in {
  display: flex;
  justify-content: space-around;
}
.footer__Furniture {
    padding-top: 82px;
}
.footer__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 24px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__item {
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}
.media {
    padding-top: 82px;
}
.footer__imgs {
  display: flex;
  gap: 16px;
  padding-bottom: 54px;
}
.footer__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #000000;
}
.footer__line {
  width: 298px;
  height: 2px;
  opacity: 1;
  border-width: 1px;
  background-color: black;
}
.footer__img {
  position: absolute;
  top: 482px;
  right: 80px;
}
