.best {
}

.best_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: #fbf8f5;
  padding-bottom: 50px;
  background-color: #fbf8f5;
}
.best_title {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
}
.best_card-wrap {
  display: flex;
  gap: 4px;
}
.best_card {
  width: 233px;
  height: 430px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 33px;
  padding-top: 80px;
}
.best_card-img {
}
.best_card-title {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.best_card-text {
}
.orange {
  color: #e9672b;
}
.grey {
  color: gray;
}
.best_btn-wrap {
  padding: 50px;
}
.best_btn {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #e9672b;
  line-height: 28px;
  letter-spacing: 0%;
}
.reviews {
}

.reviews_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
  padding: 50px;
  background-color: #fbf8f5;
}

.rew_card_wrap {
  width: 1280px;
  display: flex;
  gap: 30px;
}
.rew_card {
  background-color: #ffffff;
  width: 396px;
  height: 254px;
  padding: 34px;
  box-shadow: 8px -8px 0px 0px #cbc6f4;
  border: 2px solid #e9672b;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}
.rew_card:nth-child(2) {
  background-color: #ffffff;
  width: 396px;
  height: 254px;
  padding: 34px;

  box-shadow: 8px -8px 0px 0px #e7cb43;
  border: 2px solid #225dca;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}
.rew_card:nth-child(3) {
  background-color: #ffffff;
  width: 396px;
  height: 254px;
  padding: 34px;

  box-shadow: 8px -8px 0px 0px #a2d4c5;
  border: 2px solid #242947;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}
.rew_card_star_wrap {
  display: flex;
}
.rew_card_star {
}
.best_card-title {
}
.best_card-text {
}
