.keeping {
}
.container {
}
.keeping__in {
}
.keeping__info {
  padding: 131px 223px;
}
.keeping__info--h1 {
  width: 834px;
  height: 44px;
  top: 1276px;
  left: 223px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 1;
  color: black;
}
.keeping__info--p {
  width: 850px;
  height: 96px;
  top: 1336px;
  left: 194px;
  opacity: 1;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
  color: black;
}

.enjoy__in {
  width: 1280px;
  height: 2501px;
  top: 1526px;
  opacity: 1;
}
.enjoy__info {
  display: flex;
}
.enjoy__text {
  margin-top: 111px;
  padding-top: 20px;
  margin-left: 85px;
}
.enjoy__h1 {
  width: 397px;
  height: 88px;
  top: 1637px;
  left: 85px;
  opacity: 1;
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
}
.enjoy__p {
  width: 402px;
  height: 84px;
  top: 1745px;
  left: 85px;
  opacity: 1;
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 20px;
}
.enjoy__p2 {
  margin-top: 33px;
  width: 148px;
  height: 28px;
  top: 1862px;
  left: 85px;
  opacity: 1;
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #e9672b;
}
.enjoy__foto {
}
.enjoy__img {
  width: 616px;
  height: 411px;
  top: 1558px;
  left: 664px;
  opacity: 1;
  margin-left: 248px;
}

.Garage__info {
  margin-top: 64px;
  display: flex;
}
.Garage__foto {
}
.Garage__img {
}
.Garage__text {
  margin-top: 175px;
  margin-left: 131px;
}
.Garage__h1 {
  width: 412px;
  height: 44px;
  top: 2208px;
  left: 747px;
  opacity: 1;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  margin-top: 20px;
}
.Garage__p {
  width: 441px;
  height: 84px;
  top: 2272px;
  left: 747px;
  opacity: 1;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 20px;
}
.Garage__p2 {
  width: 319px;
  height: 28px;
  top: 2382px;
  left: 747px;
  opacity: 1;
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.Garage__p3 {
  width: 86px;
  height: 28px;
  top: 2445px;
  left: 747px;
  opacity: 1;
  margin-top: 33px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #e9672b;
}

.Furniture__info {
  display: flex;
}
.Furniture__text {
  margin-top: 129px;
  margin-left: 85px;
}
.Furniture__h1 {
  width: 369px;
  height: 88px;
  top: 2778px;
  left: 85px;
  opacity: 1;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
}
.Furniture__p {
  width: 438px;
  height: 112px;
  top: 2886px;
  left: 85px;
  opacity: 1;
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.Furniture__p2 {
  width: 438px;
  height: 112px;
  top: 2886px;
  left: 85px;
  opacity: 1;

  margin-top: 33px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #e9672b;
}
.Furniture__foto {
  margin-top: 64px;
}
.Furniture__img {
  width: 616px;
  height: 411px;
  top: 2713px;
  left: 664px;
  opacity: 1;
  margin-left: 210px;
}

.Never__info {
  display: flex;
}
.Never__foto {
  margin-top: 64px;
}
.Never__img {
  width: 616px;
  height: 616px;
  top: 3188px;
  opacity: 1;
}
.Never__text {
  margin-left: 131px;
  margin-top: 217px;
}
.Never__h1 {
  width: 425px;
  height: 88px;
  top: 3341px;
  left: 747px;
  opacity: 1;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
}
.Never__p {
  width: 418px;
  height: 140px;
  top: 3449px;
  left: 747px;
  opacity: 1;
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.Never__p2 {
  width: 171px;
  height: 28px;
  top: 3622px;
  left: 747px;
  opacity: 1;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 33px;
  color: #e9672b;
}
